body {
  font-family: "Space Mono", serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  background-image: url(https://img.freepik.com/vector-premium/fondo-elegante-presentaciones-negocios-tecnologia_28976-311.jpg?w=900);
  background-size: 1600px;
}
/*titulo principal*/
h1 {
  text-align: center;
  color: #333;
  font-size: 40px;
}


/*negrita encabezados NO FUNCIONA}*/
.bold{
  font-weight: 3000;
  
}
/*borde contenedor pequeño*/
.borde{
  border-style: groove;
}
 
/*cada contenedor pequeño*/
.nuevoli{
  display: block;
  line-height: 10px;
  width: 310px;
  height: 140px;
  padding: 20px;
  font-size: 8px;
  background-color: azure;
  border-style:ridge;
  border-radius: 5px;
}

/*foto usuario*/
img{
  margin-left: 230px;
  margin-top:10px;
  width:70px;
  border: solid 0.5px black;
}
/*contenedor foto*/
.nuevoDiv{
  display: block;
  position: relative;
  right: 360px;
  width: 300px;
  height: 160px;  
}

/*contenedor grande (el que contiene todos los usuarios)*/
#listaUsuarios{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:20px;
}  

